/*  your css code here. If applicable */
body{
	background-color:rgb(204,204,204);
}
a{
	text-decoration-line:none;
}
h1,h2,h3{
	text-align:center;
}

li{
	list-style-type:none;
}
.player_one{
	background-color:rgb(255,255,255);
	border:1px solid white;
	border-radius:10px;
	width:100%;
	padding:10px
	
	}
.player_two{
	background-color:rgb(255,255,255);
	border:1px solid white;
	border-radius:10px;
	width:100%;
	padding:10px;

.video{
	
	background-color:rgb(255,255,255);
	padding:10px;
}